# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R CI dev

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: Ubuntu-latest
    strategy:
      matrix:
        include:
        - name: devel
          cntr: uscbiostats/fmcmc-dev:devel

    steps:
      - uses: actions/checkout@v2

      - name: Container
        run: docker pull ${{ matrix.cntr }}

      - name: SessionInfo
        run: docker run --rm -i -v ${PWD}:/mnt -w /mnt ${{ matrix.cntr }} RD -q -e 'sessionInfo()'

      - name: Build
        run: docker run --rm -i -v ${PWD}:/mnt -w /mnt ${{ matrix.cntr }} RD CMD build --no-build-vignettes --no-manual .

      - name: Check
        run: docker run --rm -i -v ${PWD}:/mnt -w /mnt -e CI=true ${{ matrix.cntr }} RD CMD check --no-vignettes --no-manual fmcmc_*.tar.gz

