# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R CI 

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

jobs:

  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: windows-latest, r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,  r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,  r: 'release'}
          - {os: ubuntu-latest,  r: 'oldrel'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages:
            any::rcmdcheck
            any::tinytest
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        if: ${{ matrix.config.os == 'ubuntu-latest' && matrix.config.r == 'release' }}
        with:
          args: 'c("--as-cran", "--no-manual")'
          upload-snapshots: false
          upload-results: false
          check-dir: '"check"'
          error-on: '"warning"'

      - uses: r-lib/actions/check-r-package@v2
        if: ${{ matrix.config.os != 'windows-latest' && (matrix.config.os != 'ubuntu-latest' || matrix.config.r != 'release' )}}
        with:
          upload-snapshots: false
          upload-results: false
          check-dir: '"check"'
          error-on: '"warning"'

      - name: Check package (Windows)
        if: ${{ matrix.config.os == 'windows-latest' }}
        run: |
          R.exe CMD build .
          R.exe CMD check --no-manual (Get-Item fmcmc_*.tar.gz).Name
        shell: pwsh

      - name: Build the package
        if: ${{ matrix.config.os == 'ubuntu-latest' && (matrix.config.r == 'release' || matrix.config.r == 'devel') }}
        run: R CMD build .

      - uses: actions/upload-artifact@v4
        if: ${{ matrix.config.os == 'ubuntu-latest' && (matrix.config.r == 'release' || matrix.config.r == 'devel') }}
        with:
          name: fmcmc-built-package-${{ matrix.config.os }}-${{ matrix.config.r }}
          path: fmcmc_*.tar.gz
          retention-days: 7
